/***************/
/**   RESET   **/
/***************/
*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  margin: 0;padding: 0;
  min-height: 100vh;

  overflow-x: hidden;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}

a{
  outline: none;
  text-decoration: none;
}


/***************/
/** VARIABLES **/
/***************/

:root {
  --clr-text-dark: 0 0% 20%;
  --clr-text-light: 0 0% 91%;

  --clr-bg-dark: 0 0% 7%;
  --clr-bg-light: 0 0% 96%;

  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;

  --clr-blue: 210 100% 30%;
  --clr-yellow: 48 100% 50%;

  --clr-gen-400: 0 0% 0%;
  --clr-gen-300: 0 0% 0%;
  --clr-gen-200: 0 0% 0%;
  --clr-gen-100: 0 0% 0%;

  --fs-400: 0.75rem;
  --fs-500: 0.875rem;
  --fs-600: 1.25rem;

  --ff-sans: 'Poppins', sans-serif;
  --ff-cursive: 'Indie Flower', cursive;
}

@media (min-width: 30em) {
  :root {
    --fs-400: 0.875rem;
    --fs-500: 1rem;
    --fs-600: 1.5rem;
  }
}

body {
  --clr-text: var(--clr-text-dark);
  --clr-bg: var(--clr-bg-light);
  --clr-theme: var(--clr-black);
}

body.dark{
  --clr-text: var(--clr-text-light);
  --clr-bg: var(--clr-bg-dark);
  --clr-theme: var(--clr-white);
}


/***************/
/** UTILITIES **/
/***************/

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
*/
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;            /* 3 */
  }
  
  
  /***************/
  /**   PAGE    **/
  /***************/
  
  *{
    transition: color calc((150 / var(--speed, 1)) * 1ms), 
    fill calc((250 / var(--speed, 1)) * 1ms), 
    stroke calc((250 / var(--speed, 1)) * 1ms), 
    background-color 250ms
  }
  /* TODO: Edit scroll bar */
  /* BODY */
body{
  display: flex;
  flex-direction: column;
  font-family: var(--ff-sans);
  font-size: var(--fs-500);
  
  background-color: hsl(var(--clr-bg));
  color: hsl(var(--clr-text));
}

/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  
  gap: 1em;
  padding: 1em 1.5em;
}

@media (min-width: 30em) {
  header {
    flex-direction: row;
    gap: 1.5em;
  }
}

#heading{
  font-size: var(--fs-500);
  font-weight: 400;

  animation: reveal-in 500ms linear ;
}

#heading .helper{
  color: hsl(var(--clr-text) / 0.5);
  margin-right: 0.5em;
  font-size: var(--fs-400);
}

#heading .meaning{
  clip-path: inset(0% 100% 0% 0%);
  animation: type-in 2000ms 3000ms steps(19) forwards ;
}

.controls{
  align-self: flex-end;
  
  display: flex;
  gap: 1em;
  
  align-items: center;

}

@media (min-width: 30em) {
  .controls {
    align-self: center;
  }
}

.controls > * {
  transform: translateY(-300%);
  animation: drop-in 750ms calc((5000 + var(--drop-delay, 0)) * 1ms) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

  transition: filter 500ms;
}

.controls > *:hover {
  filter: blur(1px);
}

.controls > *:focus-visible {
  outline: 2px solid hsl(var(--clr-blue));
  filter: blur(0.75px);
  outline-offset: 0.3em;
}

.controls .mute{
  width: 2em;
  height: 2em;
  
  border-radius: 50%;
  opacity: 0.5;
  
  background-color: hsl(var(--clr-theme) / 0.15);
  position: relative;
  overflow: hidden;

  --drop-delay: 250;
}

.mute[aria-pressed = 'true'] {
  opacity: 1;
}

.mute > svg {
  width: 1.25em;
  height: 1.25em;
  
  position: absolute;
  top: 50%; left: 50%;
  
  transition: transform 150ms;
  --speed: 5
}

.mute > #sound{
  fill: hsl(var(--clr-text));
  transform: scale(1) translate(-50%, -50%);
}
.mute[aria-pressed = 'true'] > #sound {
  fill: hsl(var(--clr-text) / 0);
  transform: scale(3) translate(-50%, -50%);
}

.mute > #mute{
  fill: hsl(var(--clr-text) / 0);
  transform: scale(3) translate(-50%, -50%);
}
.mute[aria-pressed = 'true'] > #mute {
  fill: hsl(var(--clr-text));
  transform: scale(1) translate(-50%, -50%);
}

/* Values are calculated */
.controls .dark-mode{
  background-color: rgb(114, 114, 114);
  border-radius: 1em;
  height: 2em;
  width: 3.5em;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  
  background-color: hsl(var(--clr-text-dark) / 0.25);
  
  position: relative;
}

.controls .dark-mode[aria-pressed = 'true'] {
  background-color: hsl(var(--clr-blue) / 0.5);
}

.controls .dark-mode> svg {
  --speed: 5;
  width: 0.75rem;
  height: 0.75rem;
  
  transition: transform 250ms ease-out;
}

.dark-mode #stars-svg{
  fill: hsl(var(--clr-white) / 0);
  transform: scale(0);
}
.dark-mode[aria-pressed = 'true']  #stars-svg {
  fill: hsl(var(--clr-white) / 0.9);
  transform: scale(1);
}

.dark-mode #clouds-svg{
  fill: hsl(var(--clr-white) / 0.75);
  transform: scale(1);
}
.dark-mode[aria-pressed = 'true'] #clouds-svg{
  fill: hsl(var(--clr-white) / 0);
  transform: scale(0);
}

.dark-mode .thumb{
  position: absolute;
  top: 0.25em; left: 0.25em;
  
  background-color: hsl(var(--clr-white));
  height: 1.5em;
  aspect-ratio: 1;
  border-radius: 50%;
  
  overflow: hidden;
  transition: transform 250ms;
}

.dark-mode[aria-pressed = 'true'] .thumb{
  transform: translateX(100%);
  
  background-color: hsl(var(--clr-white) / 0.25);
}

.dark-mode .thumb > svg {
  width: 1.125em;
  height: 1.125em;
  transition: transform 250ms ease-in;
  --speed: 2;
}

.dark-mode[aria-pressed = 'true'] .thumb > svg {
  transform: translateY(-100%);
}

.thumb > #sun-svg{
  fill: hsl(var(--clr-yellow));
  
  position: relative;
  top: 10%;
}

.dark-mode[aria-pressed = 'true'] .thumb > #sun-svg{
  fill: hsl(var(--clr-yellow) / 0);
}

.thumb > #moon-svg{
  fill: hsl(var(--clr-white) / 0);
  width: 1em;
  height: 1em;
}

.dark-mode[aria-pressed = 'true'] .thumb > #moon-svg{
  fill: hsl(var(--clr-white));
}


/* MAIN */
main{
  flex: 1;
  
  display: grid;
  place-content: center;
  gap: 2em;
}

/* CLOCK */
.clock{
  position: relative;

  display: grid;
  place-content: center;

  animation: fade-in 1500ms cubic-bezier(1, 0.05, 0.72, 0.99);
}

.clock #clock-svg{
  width: 15.625em;
  height: 15.625em;
  padding: 0.5rem;
}

.clock #clock-svg #frame{
  stroke: hsl(var(--clr-theme));
}

.clock #clock-svg #knob{
  fill: hsl(var(--clr-theme));
}

.clock #clock-svg #main-points,
.clock #clock-svg #mini-points{
  transform: rotateZ(720deg);
  transform-origin: center;

  transition: transform 500ms cubic-bezier(0.6, 0.46, 0, 1.01);
}

.dark .clock #clock-svg #main-points,
.dark .clock #clock-svg #mini-points{
  transform: rotateZ(0deg);
}

.clock #clock-svg #main-points{
  fill: hsl(0 0% 40%);
}

.dark .clock #clock-svg #main-points{
  fill: hsl(0 0% 65%);
}

.clock #clock-svg #mini-points{
  fill: hsl(0 0% 70%);
}

.dark .clock #clock-svg #mini-points{
  fill: hsl(0 0% 27%);
}

#clock-svg #hands > * {
  transform-origin: center;
  transition: transform 150ms cubic-bezier(0.44, 1.1, 0.12, 1.32);
}

#clock-svg #hands > #hour {
  fill: hsl(var(--clr-gen-200))
}

#clock-svg #hands > #minute {
  fill: hsl(var(--clr-gen-300))
}

#clock-svg #hands > #second {
  fill: hsl(var(--clr-gen-100));
}

.dark #clock-svg #hands > #second{
  fill: hsl(var(--clr-gen-400))
}

.clock > p{
  position: absolute;
  bottom: 0;right: 0;
  margin: 0;
  
  font-family: var(--ff-cursive);
  font-size: var(--fs-600);
}

/* DATE */
.date{
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;

  animation: fade-in 500ms;
}

.date #date-svg{
  fill: hsl(var(--clr-text) / 0.5);

  width: 1.875em;
  height: 1.875em;

}

.date p{
  width: 0ch;
  white-space: nowrap;

  overflow: hidden;
  animation: grow-width 1000ms 1500ms forwards;
}

/* FOOTER */
footer{
  display: flex;
  justify-content: flex-end;
}

footer #github-svg{
  fill: hsl(var(--clr-theme));
  margin: 0.5em;
  
  width: 3.75em;
  height: 3.75em;
  
  transition: filter 500ms;
  --speed: 0.5
}

footer a:hover {
  filter: blur(1px);
}

footer a:focus-visible {
  outline: 2px solid hsl(var(--clr-blue));
  filter: blur(0.75px);

  outline-offset: -0.3em;
}


/***************/
/**ANIMATIONS **/
/***************/

@keyframes fade-in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes reveal-in {
  from{
    clip-path: inset(100% 0% 0% 0%);
  }
  to{
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes type-in {
  from{
    clip-path: inset(0% 100% 0% 0%);
  }
  to{
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes slide-in-from-right {
  from{
    transform: translate(500%);
  }
  to{
    transform: translate(0%);
  }
}

@keyframes drop-in {
  from{
    transform: translateY(-300%);
  }
  to{
    transform: translateY(0%);
  }
}

@keyframes grow-width {
  to{
    width: 21.5ch;
  }
}

@keyframes shrink {
  from{
    transform: scale(5);
  }
  to{
    transform: scale(1);
  }
}