/***************/
/**   RESET   **/
/***************/
*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  margin: 0;padding: 0;
  min-height: 100vh;
}


/***************/
/** VARIABLES **/
/***************/

:root {
  --clr-text-dark: 0 0% 20%;
  --clr-text-light: 0 0% 91%;

  --clr-bg-dark: 0 0% 7%;
  --clr-bg-light: 0 0% 96%;

  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;

  --fs-400: 0.75rem;
  --fs-500: 0.875rem;
  --fs-600: 1.25rem;

  --ff-sans: 'Poppins', sans-serif;
  --ff-cursive: 'Indie Flower', cursive;
}

@media (min-width: 30em) {
  :root {
    --fs-400: 0.875rem;
    --fs-500: 1rem;
    --fs-600: 1.5rem;
  }
}

body {
  --clr-text: var(--clr-text-dark);
  --clr-bg: var(--clr-bg-light);
  --clr-theme: var(--clr-black);
}

body.dark{
  --clr-text: var(--clr-text-light);
  --clr-bg: var(--clr-bg-dark);
  --clr-theme: var(--clr-white);
}


/***************/
/** UTILITIES **/
/***************/

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
*/
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}


/***************/
/**   PAGE    **/
/***************/

*{
  transition: color calc((150 / var(--speed, 1)) * 1ms), fill calc((250 / var(--speed, 1)) * 1ms), background-color 250ms
}
/* !Edit scroll bar */
/* BODY */
body{
  display: flex;
  flex-direction: column;
  font-family: var(--ff-sans);
  font-size: var(--fs-500);

  background-color: hsl(var(--clr-bg));
  color: hsl(var(--clr-text));
}

/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 1em 1.5em;
}

#heading{
  font-size: var(--fs-500);
  font-weight: 400;
}

#heading .helper{
  color: hsl(var(--clr-text) / 0.5);
  margin-right: 0.5em;
  font-size: var(--fs-400);
}

/* MAIN */
main{
  flex: 1;

  display: grid;
  place-content: center;
  gap: 2em;
}

/* CLOCK */
.clock{
  position: relative;

  display: grid;
  place-content: center;
}

.clock #clock-svg{
  transform: scale(0.8);
}
@media (min-width: 30em) {
  .clock #clock-svg{
    transform: scale(0.95);
    padding: 0.5rem
  }
}

.clock #clock-svg #frame{
  stroke: hsl(var(--clr-theme));
}

.clock #clock-svg #knob{
  fill: hsl(var(--clr-theme));
}

.clock #clock-svg #main-points{
  fill: hsl(0 0% 40%);
}

.dark .clock #clock-svg #main-points{
  fill: hsl(0 0% 65%);
}

.clock #clock-svg #mini-points{
  fill: hsl(0 0% 70%);
}

.dark .clock #clock-svg #mini-points{
  fill: hsl(0 0% 27%);
}

#clock-svg #hands > * {
  transform-origin: center;
  transition: transform 150ms cubic-bezier(0.44, 1.1, 0.12, 1.32);
}

.clock > p{
  position: absolute;
  bottom: 0;right: 0;
  margin: 0;

  font-family: var(--ff-cursive);
  font-size: var(--fs-600);
}

/* DATE */
.date{
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
}

.date #date-svg{
  fill: hsl(var(--clr-text) / 0.5);
}
@media (min-width: 30em) {
  .date #date-svg{
    transform: scale(1.5);
  }
}

/* FOOTER */
footer{
  display: flex;
  justify-content: flex-end;
}

footer #github-svg{
  fill: hsl(var(--clr-theme));
  margin: 0.5em;
  transform: scale(0.8);

  --speed: 0.5
}
@media (min-width: 30em) {
  footer #github-svg{
    transform: scale(1);
  }
}